body {
    background-color: rgb(142, 142, 250);
    font-family: monospace;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}
  
nav > a {
    padding: 15px;
}

footer {
    background-color: aliceblue;
}